@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/OpenSans-Regular-webfont.eot');
    src: local('Open Sans'),
    local('OpenSans'),
    url('./fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('./fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/OpenSans-Light-webfont.eot');
    src: local('Open Sans Light'),
    local('OpenSans Light'),
    url('./fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('./fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

:root {
    --gutter-width-left: 250px;
    --gutter-width-right: 220px;
}

html {
    overflow: auto;
    font-size: 0.875rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #4d4e53;
    background-color: #f1f1f7;
    margin: 60px 0 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: calc(100vh - 60px - env(safe-area-inset-top, 20px));
}

/*******************************
  General Document Styling
********************************/
.clear {
    clear: both;
}

.hidden {
    display: none;
}

.disabled {
    color: #454545;
}

.important {
    font-weight: bold;
    color: #950B02;
}

.variation {
    display: none;
}

tt, code, kbd, samp {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

/* Link Styling */
a, a:visited, a:active {
    color: #0095dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Description Styling */
.description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.description blockquote {
    border: 1px solid #c1c7d0;
    border-left-width: 6px;
    color: #7a869a;
    padding: 6px 18px 10px;
    margin: 8px 0;
}

.description blockquote p {
    margin: 0;
}

.class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}

/* Ancestors Styling */
.ancestors, .attribs {
    color: #999;
}

.ancestors a, .attribs a {
    color: #999 !important;
    text-decoration: none;
}

/* Signature Styling */
.signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

.type-signature {
    color: #aaa;
}

.type-signature + p {
    display: inline;
}

.name, .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

/* Returns Styling */
.returns dt {
    float: left;
    padding-right: 15px;
}

.returns dd {
    margin-left: 0;
}

.returns .param-desc:first-letter {
    text-transform: capitalize;
}

/*******************************
  Page Header Styling
********************************/
header {
    display: block;
}

.page-header {
    z-index: 100;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    background-color: white;
    border-bottom: 1px solid #dcdcdc;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--gutter-width-left) 1fr var(--gutter-width-right);
    grid-template-rows: 60px;
    align-items: center;
    justify-items: center;
}

/* Package Details */
.page-header .package-details {
    margin: 0;
    font-size: 2.5rem;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: 10px;
    align-items: center;
    line-height: 1.3;
    justify-self: start;
}

/* Package Name */
.page-header .package-name {
    text-decoration: none !important;
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.page-header .package-name img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 12px 0;
}

/* Package Version */
.page-header .package-version {
    font-size: 0.65em;
}

/* Page Title in Header */
.page-header .page-title {
    margin: 0;
}

/* External Links in Header */
.page-header .page-links {
    height: 100%;
    display: flex;
    padding: 0 20px;
    justify-self: end;
}

.page-header .page-links a {
    text-decoration: none !important;
}

.page-header .page-links img {
    height: 100%;
    box-sizing: border-box;
    padding: 12px 0;
}

.page-header .page-links .page-nav-toggle {
    margin-left: 15px;
    display: none;
}

/*******************************
  Main Document Styling
********************************/
main {
    height: 100%;
    overflow: scroll;
    display: grid;
    grid-template-columns: calc(100vw - var(--gutter-width-left) - var(--gutter-width-right)) min-content;
}

main > .content-container {
    grid-row: 1;
    display: block;
    width: 100%;
    padding: 12px 24px;
    margin: 15px 0 0;
    border: 1px solid #dcdcdc;
    background: white;
    justify-self: end;
    box-sizing: border-box;
}

main > .content-aside {
    grid-row-start: 1;
    grid-row-end: span 2;
}

main > .content-aside .content-nav {
    height: calc(100vh - 61px);
}

/*******************************
  Index Page Styling
********************************/
.main-page .readme h2 {
    border-bottom: 1px solid #ccc;
}

.main-page .readme h6 a, .main-page .readme h6 a img {
    display: block;
    margin: 0 auto;
}

.main-page .readme p > br {
    display: none;
}

.main-page .readme p > br ~ br {
    display: block;
}

/*******************************
  Responsive Page Headings
********************************/
.section-header .page-title {
    display: none;
    font-size: 1.9em;
    margin: 0 -10px 12px;
    text-align: center;
}

.toc-tiny .page-title {
    font-size: 1.8em;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
}

/*******************************
  Article Styling
********************************/
article dl {
    margin-bottom: 40px;
}

article img {
    max-width: 100%;
}

/* Nested Article Styling */
article article {
    position: relative;
    padding: 12px 18px;
    margin-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-left: 2px solid #aaa;
}

article article:before {
    content: "";
    display: block;
    position: absolute;
    border-left: 0.5em solid #ccc;
    top: 0;
    bottom: 0;
    left: 0;
}

/* Deeply Nested Article Styling */
article article article {
    border: none;
    border-left: 2px solid #ddd;
    padding: 0 0 0 12px;
}

article article article:before {
    display: none;
}

article article article pre {
    margin: 0;
}

/*******************************
  Section Styling
********************************/
section:not(:last-child) {
    margin-bottom: 12px;
}

/*******************************
  Footer Styling
********************************/
footer {
    display: block;
    padding: 6px;
    font-style: italic;
    font-size: 90%;
    text-align: center;
}

/*******************************
  Shared Nav Styling
********************************/
nav {
    display: block;
    box-sizing: border-box;
    margin-top: 15px;
    overflow: scroll;
}

nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

nav ul ul {
    margin-bottom: 12px;
}

nav ul ul:not(.no-indent) {
    padding-left: 15px;
    border-left: 2px solid #ddd;
}

nav li {
    margin-bottom: 6px;
}

nav a.active {
    color: #950B02;
}

/* Nav Headings Styling */
nav > h1, nav > h2, nav > h3, nav > h4, nav > h5, nav > h6,
nav .nav-content > h1, nav .nav-content > h2, nav .nav-content > h3,
nav .nav-content > h4, nav .nav-content > h5, nav .nav-content > h6 {
    border-bottom: 1px solid #ddd;
}

/*******************************
  Page Nav Styling
********************************/
nav.page-nav {
    padding: 0 30px 15px 15px;
    width: 100%;
    min-width: var(--gutter-width-left);
}

nav.page-nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    padding: 0 0 0 10px;
}

nav.page-nav ul li:not(.active) ul {
    display: none;
}

nav.page-nav ul ul ul {
    padding-left: 15px;
}

nav.page-nav ul a,
nav.page-nav ul a:visited,
nav.page-nav ul a:active {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    display: block;
}

nav.page-nav ul ul a:not(.active),
nav.page-nav ul ul a:not(.active):visited,
nav.page-nav ul ul a:not(.active):active {
    color: #4D4E53;
}

/*******************************
  Table of Contents Styling
********************************/
.toc-regular {
    position: sticky;
    top: 0;
}

.toc-tiny {
    display: none;
}

.toc-tiny details.content-toc {
    padding: 0 10px;
}

nav.content-nav {
    position: sticky;
    top: 1px;
    padding: 0 15px;
    min-width: var(--gutter-width-right);
}

nav.content-toc {
    padding: 0 30px;
    font-size: 0.9em;
}

nav.content-nav,
nav.content-toc {
    width: 100%;
}

nav.content-nav .toc-title,
nav.content-toc .toc-title {
    background-color: #f1f1f7;
}

nav.content-nav .toc-title {
    position: sticky;
    top: 0;
}

nav.content-nav li a + ul,
nav.content-toc li a + ul{
    margin-top: 8px;
}

/*******************************
  Shared Headings Styling
********************************/
h1, h2, h3, h4 {
    font-weight: 200;
    margin: 0;
}

h1 {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 3.4em;
    margin: 12px 24px 20px;
}

h2, h3.subsection-title {
    font-size: 2.1em;
    font-weight: 700;
    margin-bottom: 12px;
}

h3 {
    font-size: 1.7em;
    margin-bottom: 12px;
}

h4 {
    font-size: 1.29em;
    margin-bottom: 12px;
    color: #4d4e53;
}

h5 {
    font-size: 120%;
    font-weight: bold;
    /*margin: 8px 0 3px 0;*/
    margin: 0 0 8px;
}

h6 {
    font-size: 100%;
    margin: 6px 0 3px 0;
    font-style: italic;
}

/* Underlined Heading Styling */
.subsection-title, .description h1, .description h2, .description h3, .description h4 {
    border-bottom: 1px solid #ddd;
}

.subsection-list > li,
.readme .description > ul > li {
    margin-bottom: 1em;
}

.subsection-list > li ul,
.readme .description > ul > li ul {
    margin-top: 0.5em;
}

/*******************************
  Table Styling
********************************/
table {
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    margin: 0;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

thead tr {
    background-color: #ddd;
    font-weight: bold;
}

th {
    border-right: 1px solid #aaa;
}

tr > th:last-child {
    border-right: 1px solid #ddd;
}

/*******************************
    Details Section Styling
********************************/
.details dl {
    margin: 0;
    border-left: 2px solid #DDD;
    display: grid;
    grid-row-gap: 5px;
}

.details dl .detail {
    display: grid;
    grid-template-columns: 120px 1fr;
    padding-left: 10px;
}

.details dd {
    margin: 0;
}

.details ul {
    margin: 0;
    list-style-type: none;
}

.details li {
    padding-top: 6px;
}

.details pre.prettyprint {
    margin: 0;
    display: inline-block;
}

.details pre code {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 3px 6px;
}

.details .object-value {
    padding-top: 0;
}

/*******************************
  Code Block Styling
********************************/
.code-caption {
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.class-signature pre code,
.example pre code,
.readme pre code,
.description pre code {
    display: block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    /*white-space: pre-wrap;*/
}

.class-signature pre, .class-signature pre code {
    white-space: nowrap;
}

code {
    padding: 3px 6px;
    margin: 0;
    font-size: 85%;
    border-radius: 6px;
    overflow: scroll;
}

code, .hljs {
    background-color: #afb8c133;
}

.hljs-attr, .hljs-variable.constant_ {
    color: #8959a8;
}

.hljs-string {
    color: #718c00;
}

.prettyprint code span.line {
    display: inline-block;
}

.prettyprint.linenums {
    padding-left: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prettyprint.linenums ol {
    padding-left: 0;
}

.prettyprint.linenums li {
    border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected, .prettyprint.linenums li.selected * {
    background-color: lightyellow;
}

.prettyprint.linenums li * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/*******************************
  Inline Code Styling
********************************/
.params .name, .props .name, .name code,
.readme .description code {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

.params td.description > p:first-child, 
.props td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*******************************
  Small Display Nav Styling
********************************/
.tiny-page-nav-toggle {
    position: relative;
    display: flex;
    align-items: center;
}

.tiny-page-nav-toggle input {
    display: none;
}

.tiny-page-nav-toggle input + label span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #4d4e53;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.tiny-page-nav-toggle input + label span:first-child {
    transform-origin: 0 0;
}

.tiny-page-nav-toggle input + label span:last-child {
    margin-bottom: 0;
}

.tiny-page-nav-toggle input + label span:nth-last-child(2) {
    transform-origin: 0 100%;
}

.tiny-page-nav-toggle input + label:after {
    display: block;
    content: "";
    position: fixed;
    top: 61px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: black;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
    z-index: 999998;
}

.tiny-page-nav-toggle input:checked + label:after {
    opacity: 0.8;
    pointer-events: all;
}

.tiny-page-nav-toggle input:checked + label span {
    opacity: 1;
    transform: rotate(-45deg) translate(-1px, -2px);
}

.tiny-page-nav-toggle input:checked + label span:first-child {
    transform: rotate(45deg) translate(0, -2px);
}

.tiny-page-nav-toggle input:checked + label span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

@media (max-width: 1280px) {
    /* Reduce guttering */
    :root {
        --gutter-width-left: 225px;
        --gutter-width-right: 205px;
    }
    
    /* Reduce whitespace and font size */
    .page-header .package-details {
        grid-column-gap: 0;
    }
    
    nav, .content-container, footer {
        font-size: 0.9em;
    }
}

@media (max-width: 1176px) {
    /* Reduce guttering */
    :root {
        --gutter-width-left: 215px;
        --gutter-width-right: 200px;
    }
    
    /* Reduce logo and title size */
    .page-header .package-name img {
        padding: 16px 0;
    }
    
    .page-header .page-title {
        font-size: 1.7em;
    }
    
    /* Reduce content font size */
    nav, .content-container, footer {
        font-size: 0.8em;
    }
    
    /* Reduce details guttering */
    .details dl .detail {
        grid-template-columns: 80px 1fr;
    }
    
    /* Wrap param types in tables */
    td.type .param-type {
        display: block;
    }
    
    td.type .param-join {
        display: none;
    }
}

@media (max-width: 1080px) {
    /* Reduce guttering */
    :root {
        --gutter-width-left: 200px;
    }
    
    nav.page-nav {
        padding: 0 15px 0 10px;
    }
    
    nav.page-nav .nav-content > ul {
        padding-left: 0;
    }
}

@media (max-width: 952px) {
    /* Remove left guttering */
    :root {
        --gutter-width-left: 0px;
    }
    
    /* Display body content inline */
    body {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    
    main > .content-container {
        margin-left: 15px;
        justify-self: unset;
        width: auto;
    }
    
    /* Enable wide content scrolling */
    .params .subsection-content, .props dd {
        overflow: scroll;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        display: flex;
        padding-bottom: 10px;
    }
    
    .params .subsection-content table,
    .props table {
        position: relative;
    }
    
    /* Enable left scroll gutter */
    .params .subsection-content:before,
    .props dd:before {
        position: sticky;
        content: "";
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        border-left: 1px dashed #aaa;
    }
    
    .params .subsection-content table:before,
    .props table:before {
        position: absolute;
        content: "";
        display: block;
        top: -1px;
        bottom: 0;
        left: -1px;
        border-left: 1px solid #ddd;
        z-index: 2;
    }
    
    .params .subsection-content table tr :first-child,
    .props table tr :first-child {
        border-left-width: 0;
    }
    
    /* Enable right scroll gutter */
    .params .subsection-content:after,
    .props dd:after {
        position: sticky;
        content: "";
        display: flex;
        top: 0;
        bottom: 0;
        right: 0;
        border-right: 1px dashed #aaa;
    }
    
    .params .subsection-content table:after,
    .props table:after {
        position: absolute;
        content: "";
        display: block;
        top: -1px;
        bottom: 0;
        right: -1px;
        border-right: 1px solid #ddd;
        z-index: 2;
    }
    
    .params .subsection-content table tr :last-child,
    .props table tr :last-child {
        border-right-width: 0;
    }
    
    /* Move page title position */
    .page-header {
        grid-template-columns: 1fr 1fr;
    }
    
    .page-header .page-title {
        display: none;
    }
    
    .section-header .page-title {
        display: block;
    }
    
    /* Enable tiny nav */
    .page-header .page-links .page-nav-toggle {
        display: flex;
    }
    
    nav.page-nav {
        position: absolute;
    }
    
    nav.page-nav .nav-content {
        position: fixed;
        top: 61px;
        left: -265px;
        bottom: 0;
        width: 265px;
        background-color: #f1f1f7;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
        z-index: 999999;
        overflow: scroll;
        font-size: 1.3em;
        padding: 10px 25px 0 15px;
        box-sizing: border-box;
    }
    
    nav.page-nav .nav-content ul {
        padding-left: 15px;
    }
    
    nav.page-nav .nav-content > ul {
        padding-left: 5px;
    }
    
    nav.page-nav input:checked + .nav-content {
        transform: translateX(100%);
    }
}

@media (max-width: 648px) {
    /* Remove right guttering */
    :root {
        --gutter-width-right: 0px;
    }
    
    /* Display all content inline */
    main > .content-container {
        grid-template-columns: 100%;
    }
    
    main > .content-container {
        grid-row: 2;
        margin-right: 15px;
    }
    
    main > footer {
        grid-row: 3;
    }
    
    /* Display table of contents first */
    main > .content-aside {
        grid-row-end: 1;
        margin: 15px 15px 0;
    }
    
    .toc-regular {
        display: none;
    }
    
    .toc-tiny {
        display: block;
    }
    
    /* Hide page title in section content */
    .section-header .page-title {
        display: none;
    }
}

@media (max-width: 580px) {
    /* Remove outer padding from content */
    main > .content-container {
        margin: 15px 0 0;
        padding: 12px 24px 12px 18px;
    }
    
    main > .content-aside {
        margin: 5px 15px 0 5px;
    }
    
    main > .content-container ul {
        padding-left: 20px;
    }
}

@media (max-width: 480px) {
    /* Don't overflow names anymore */
    header > .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    /* Hide type signatures */
    header > .name .type-signature:last-child {
        display: none;
    }
    
    /* Wrap method returns signatures */
    .returns dt {
        padding-right: 5px;
    }
    
    .returns .signature .param-type:not(:only-child) {
        display: block;
        margin-left: 20px;
    }
    
    .returns .signature .param-join {
        display: none;
    }
}